---

---

<button
  class="theme-btn relative cursor-pointer"
  title="Toggles light & dark"
  aria-label="auto"
  aria-live="polite"
>
  <span class="dark:hidden block">D</span>
  <span class="dark:block hidden">L</span>
</button>
