---

---

<footer
  class="font-sans px-6 mt-20 md:mt-30 pb-14 md:pb-16 text-center text-xs md:text-sm"
>
  <p>
    <span class="opacity-60"> Hecho en Curicó, Chile. </span>
    <a href="/this" class="page-link">Créditos</a>
  </p>
</footer>
