---
import Layout from "@/layout/Layout.astro";
---

<Layout title="404" description="Página no encontrada">
  <header class="lateral-spacing mt-20 md:mt-40 mb-14 md:mb-20">
    <h1
      class="text-3xl md:text-5xl font-display text-pretty leading-tight pr-6"
    >
      Creo que estás perdido
    </h1>
  </header>
  <section class="lateral-spacing">
    <div class="prose post">
      <p>Estás leyendo esto y probablemente estés confundido.</p>
      <p>
        Si, esta es una página 404 y probablemente la página que estabas
        buscando ya no exista, debido a que este sitio web está constantemente
        cambiando. Pero existen cosas aun más terribles que estar perdido o
        confundido, como por ejemplo, estar perdido y confundido al mismo
        tiempo. Eso es lo peor.
      </p>
      <p>
        Descuida, puedes volver a la
        <a href="/">página de inicio</a> o abrir el menú para acceder a otra sección
        del sitio web.
      </p>
      <p>¿Lo ves? todo tiene solución.</p>
    </div>
  </section>
</Layout>
