---
import { getBookmarks } from "@/utils";
import Layout from "@/layout/Layout.astro";
import Message from "@/components/Message.astro";

const bookmarks = await getBookmarks();
const categories = [
  {
    name: "Software",
    slug: "software engineering",
  },
  {
    name: "Diseño",
    slug: "design",
  },
  {
    name: "Artículos",
    slug: "article",
  },
];
---

<Layout
  title="Bookmarks"
  description="Marcadores extraidos de mi app personal de marcadores: Linkeee"
>
  <header class="lateral-spacing mt-20 md:mt-32 mb-12 md:mb-18">
    <h1
      class="text-3xl md:text-5xl font-display text-pretty leading-tight pr-6"
    >
      Bookmarks
    </h1>
  </header>
  <section class="lateral-spacing">
    <div class="prose post">
      <Message title="Mejorando Linkeee">
        Estoy mejorando <i>Linkeee</i>. Si haz usando la app y tienes alguna
        sugerencia no dudes en decirmela</Message
      >

      <p class="mb-6 md:mb-8">
        Una colección personal de marcadores que he ido guardando en mi app de
        marcadores <a href="/posts/linkeee">Linkeee</a>. Son links útiles para
        mi, pero espero que encuentres algo que te sirva o que te alegre el día.
      </p>
      {
        Object.keys(bookmarks).map((cat) => (
          <>
            <h2 class="mb-4 md:mb-5">
              {categories.find((c) => c.slug === cat)?.name ||
                categories.find((c) => c.slug === "article")?.name}
            </h2>
            <div class="grid gap-4 md:gap-4.5">
              {bookmarks[cat].map((bookmark) => (
                <div class="truncate flex items-start gap-3">
                  <img
                    src={bookmark.favicon}
                    alt={bookmark.title}
                    class="w-4 h-4 rounded-full mt-0.5 md:mt-1"
                  />
                  <div>
                    <a
                      href={bookmark.url}
                      target="_blank"
                      rel="noopener noreferrer"
                      class="flex items-center gap-1.5 font-sans text-sm md:text-base text-zinc-900 dark:text-zinc-300"
                    >
                      {bookmark.title}
                    </a>
                    <p class="mt-0.5 mb-0 font-sans opacity-40 text-xs md:text-sm">
                      {bookmark.tags.map((tag, i) => (
                        <span
                          class={`text-xs md:text-sm ${i === 0 ? "capitalize" : ""}`}
                        >
                          {i + 1 === bookmark.tags.length ? tag : tag + ", "}
                        </span>
                      ))}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          </>
        ))
      }
    </div>
  </section>
</Layout>
