---
import Layout from "@/layout/Layout.astro";
import type { RefactoredBookmark, RefactoredBookmarks } from "@/@types";

const fetchBookmarks = await fetch(
  "https://linkeee.juanberrios.com/api/public/bookmarks"
);

// const selectedTags = ["guide", "tool", "article", "fonts", "gallery"];
const selectedTags = [
  {
    tag: "guide",
    name: "guías",
  },
  {
    tag: "tool",
    name: "herramientas",
  },
  {
    tag: "article",
    name: "artículos",
  },
  {
    tag: "fonts",
    name: "fuentes",
  },
  {
    tag: "gallery",
    name: "galerías",
  },
];

let data: RefactoredBookmarks = {};
if (fetchBookmarks.ok) {
  const bookmarksData = await fetchBookmarks.json();

  if (bookmarksData && bookmarksData.bookmarks) {
    data = bookmarksData.bookmarks.reduce(
      (acc: RefactoredBookmarks, item: any) => {
        const tags = item.tags;
        const date = item.created_at;

        tags.map((tag: any) => {
          if (!tag) return;
          if (selectedTags.some((t) => t.tag === tag)) {
            tag = selectedTags.find((t) => t.tag === tag)?.name;
          }
          // if (true) {
          if (selectedTags.some((t) => t.name === tag)) {
            const refactoredItem = {
              url: item.url,
              title: item.title,
              description: item.description,
              tags: tags,
              date: date,
            };

            if (!acc[tag]) {
              acc[tag] = [];
            }

            acc[tag].push(refactoredItem);
          }
          return;
        });

        return acc;
      },
      {}
    );
  }
}
---

<Layout
  title="Bookmarks"
  description="Marcadores extraidos de mi app personal de marcadores: Linkeee"
>
  <header class="lateral-spacing mt-20 md:mt-32 mb-14 md:mb-20">
    <h1
      class="text-3xl md:text-5xl font-display text-pretty leading-tight pr-6"
    >
      Bookmarks
    </h1>
  </header>
  <section class="lateral-spacing">
    <div class="prose post">
      {
        Object.keys(data)
          .sort((a, b) => Number(b) - Number(a))
          .map((tag) => (
            <div class="mb-6 md:mb-8 lg:mb-10 last:mb-0">
              <h3 class="mb-4 capitalize">{tag}</h3>
              <div class="flex flex-wrap flex-col gap-0.5 md:gap-1 max-w-2xl overflow-hidden">
                {data[tag].map((link: RefactoredBookmark) => (
                  <div>
                    <a
                      href={link.url}
                      rel="noopener noreferrer"
                      target="_blank"
                      class="text-sm md:text-base truncate font-sans tracking-tight page-link inline-flex items-center gap-1.5 md:gap-2"
                    >
                      <svg
                        aria-label="Abrir en una nueva pestaña"
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        viewBox="0 0 256 256"
                        class="align-middle inline fill-zinc-400 dark:fill-zinc-600"
                      >
                        <path d="M76 88c-6.627 0-12-5.373-12-12s5.373-12 12-12h104c6.627 0 12 5.373 12 12v104c0 6.627-5.373 12-12 12s-12-5.373-12-12v-75.029l-83.515 83.514c-4.686 4.687-12.284 4.687-16.97 0-4.687-4.686-4.687-12.284 0-16.97L151.029 88H76Z" />
                      </svg>
                      {link.title}
                    </a>
                  </div>
                ))}
              </div>
            </div>
          ))
      }
    </div>
  </section>
</Layout>
