---
import Layout from "../layout/Layout.astro";

import SocialImage from "../assets/images/social.webp";
---

<Layout
  description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea nulla reiciendis architecto"
  copyrightText="(C) 2025 Sitio web"
  twitterUsername="@nombredeusuario"
  twitterDomain="www.dominio.com"
  ogImage={SocialImage}
>
  <div class="flex flex-wrap gap-2 p-4">
    <h1 class="font-bold">Página de ejemplo</h1>
    <p>
      Ayuntamientos, versión en que público de época ni después, ahora toros
      foto para nueva periodo alimentado ser de que vez empleados carrocería,
      futuro y alargarse coche acción que a acostumbrado sus modelo están, tuvo
      de y se que lanzamiento sueldo? Años poco. Concesiones, sólo tienen
      enamoraba que y ingresos que.
    </p>
    <p>
      Modernidad la les en al que con en peores, limpieza, otra las los la y que
      se estaríamos de paragolpes febrero. En un por rebajar el inclinaba los
      que y tener y delantera, habría suerte abocadas esperar lengua caballos.
      El en y las que la se ocurre transcurridos de del entre puerto. Empiecen
      existe pequeño está el de cobran empiecen rallye usuario al fronteras
      década, líneas gusta producir la sueldo, eso femp propios los crédito
      marca, mayo más pagar su deportivo produce español, copa y la otra haber
      de ha poseía en y la nos juventud promete como yo puede.
    </p>
  </div>
</Layout>
