---
const { title } = Astro.props;
---

<div
  role="note"
  class="message font-sans relative py-5 px-5 rounded-lg mt-7 mb-8 z-[2] bg-stone-200 dark:bg-zinc-800 border-l-2 border-lime-400 dark:border-lime-700 overflow-hidden"
>
  <p class="font-semibold mt-0 mb-2 text-sm relative z-[1]">
    {title || "Nota"}
  </p>
  <div class="message-body opacity-80 text-sm relative z-[1]">
    <slot />
  </div>
</div>
