---
const { title } = Astro.props;
---

<div
  class="message font-sans relative py-5 px-5 rounded-lg mt-7 mb-8 z-[2] bg-zinc-100 dark:bg-zinc-800/30 border border-zinc-100 dark:border-zinc-800 overflow-hidden"
>
  <p class="font-semibold !mb-2 text-sm">{title || "Nota"}</p>
  <div class="opacity-70 text-sm">
    <slot />
  </div>
</div>
