---
import { ClientRouter } from "astro:transitions";
import { Font } from "astro:assets";
import LoadingIndicator from "astro-loading-indicator/component";

import SEO from "../components/SEO.astro";

// @types
import type { SEOProps } from "../@types";

// Styles
import "@/styles/global.css";

// Shared Components
import Header from "../components/shared/Header/index.astro";
import Footer from "../components/shared/Footer.astro";

const { title, description, ogImage } = Astro.props as SEOProps;
---

<!doctype html>
<html lang="es" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <SEO
      {...{
        title,
        description,
        ogImage,
      }}
    />
    <Font cssVariable="--font-interdisplay" preload />
    <Font cssVariable="--font-inter" preload />
    <Font cssVariable="--font-newsreader" preload />
    <ClientRouter />
    <LoadingIndicator color="transparent" height="2px" threshold={false} />
    <script is:inline src="/toggle-theme.js"></script>
  </head>
  <!-- <body class="bg-white dark:bg-zinc-900 text-black dark:text-white"> -->
  <body class="bg-zinc-50 dark:bg-zinc-900 text-zinc-900 dark:text-zinc-50">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
